*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: "Inter", sans-serif;
    font-style: normal;
    scroll-behavior: smooth;
}

h2{
    font-weight: 500 !important;
}

body{
    background-color: rgb(12, 11, 16);
}

.container{
    max-width: 1230px;
    margin: auto;
    padding-left: 15px;
    padding-right: 15px;
    position: relative;
}

.header{
    margin-top: 40px;
}

.header__logo{
    font-size: 24px;
    font-weight: 400;
    color: white;
    position: relative;
    z-index: 4;

}

.nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 55px;

}

.nav__list{
    display: flex;
    width: 510px;
    align-items: center;
    justify-content: space-between;
}

.nav__link{
    color: white;
}

.herosection{
    display: flex;
    align-items: center;
    justify-content: center;
}

.herosection__title{
    font-size: clamp(46px, 6vw, 90px);
    color: white;
    line-height: 95%;
    font-weight: 500;
}

.color{
    color: #A944F8;
}
.italic{
    font-style: italic;
}

.herosection__content{
    max-width: 693px;
}

.herosection__subtitle{
    color: white;
    font-size: clamp(16px, 1.25vw, 24px);
    margin-top: 24px;
    font-weight: 300;
}

.herosection__cta{
    border-radius: 68px;
    background-color: #fff;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6px;
    height: 68px;
    width: 278px;
    margin-top: 40px;
    transition: .3s ease-in-out;
}


.herosection__img {
    width: clamp(327px, 30vw, 547px);
    height: auto;
}

.approach__title{
    font-size: clamp(52px, 5.5vw, 72px);
    color: white;
    margin: auto;
    max-width: 831px;
    text-align: center;
    margin-top: 105px;
    line-height: 100%;
    font-weight: 500;
}

.approach__subtitle{
    font-size: 16px;
    color: #9D9D9D;
    text-align: center;
    margin: auto;
    max-width: 720px;
    margin-top: 24px;
    margin-bottom: 32px;
}

.cards__container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 24px;
  background-color: #111111;
  border: 1px solid #2B2B2B;
  border-radius: 24px;
  width: 385px;
  overflow: hidden;
}


.card--glow-top::before {
  content: '';
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 204px;
  height: 1px;
  background: linear-gradient(to right, transparent, #A944F8, transparent);
  box-shadow: 0 0 12px #A944F8;
  pointer-events: none;
}

.card--glow-bottom::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 204px;
  height: 1px;
  background: linear-gradient(to right, transparent, #A944F8, transparent);
  box-shadow: 0 0 12px #A944F8;
  pointer-events: none;
}


.card__text{
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.card__title{
    font-size: 30px;
    color: white;
}

.card__description{
    color: #9D9D9D;
    font-size: 16px;
    font-weight: 300;
}
.card__icon{
    width: 48px;
    height: 48px;
}

.growth__container{
    margin-top: 91px;
}

.growth__container, .risk__container, .strategies__container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.growth__title, .risk__title, .strategies__title{
    color: white;
    font-size: clamp(52px, 5.5vw, 71px);
    line-height: 100%;
}

.growth__content, .risk__content, .strategies__content{
    max-width: 485px;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.growth__subtitle, .risk__subtitle, .strategies__subtitle{
    color: #9D9D9D;
    font-weight: 300;
}
.growth__img, .risk__img, .strategies__img{
    width: clamp(327px, 40vw, 590px);
    height: auto;
}

.price__title{
    font-size: clamp(41px, 5.5vw, 71px);
    color: white;
    line-height: 100%;
    margin: auto;
    text-align: center;
    margin-top: 96px;
}
.price__subtitle{
    color: #9D9D9D;
    margin: auto;
    text-align: center;
    margin-top: 24px;
    margin-bottom: 48px;
}
.pricing__card{
    width: 387px;
    height: 467px;
    display: flex;
    flex-direction: column;
    gap: 32px;
    background-color: #111111;
    border-radius: 24px;
    padding: 48px;
    border: 1px solid #353535;
    position: relative; 
}
.pricing__card-name{
    background: #111111;
    border-radius: 40px;
    font-weight: 400;
    font-size: 24px;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 46px;
    margin-bottom: 20px;
    padding-left: 15px;
    padding-right: 15px;
    width: fit-content;
    border: 1px solid #2B2B2B;
}
.pricing__card-name--gold{
    background-color: #A944F8;
    border: 1px solid #C57CFF;
}
.pricing__card-price{
    font-weight: 400;
    font-size: 48px;
    color: #FFFFFF;
}
.pricing__card-description{
    font-weight: 300;
    font-size: 16px;
    line-height: 120%;
    color: #BFBFBF;
}

.pricing__card-link{
    display: flex;
    align-items: center;
    justify-content: center;
    color: #BFBFBF;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    gap: 6px;
    background-color: transparent;
    border: 1px solid #353535;
    border-radius: 48px;
    text-decoration: none;
    height: 56px;
    text-transform: uppercase;
}

.pricing__card-link--primary{
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    font-weight: 400;
    font-size: 16px;
    gap: 6px;
    background-color: #fff;
    border-radius: 48px;
    text-decoration: none;
    height: 56px;
    text-transform: uppercase;
}

.pricing__card-actions{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.pricing__cards{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 48px;
}

.pricing__badge {
    position: absolute;
    top: -25px;
    left: 50%;
    transform: translateX(-50%);
    color: #FFFFFF;
    width: 145px;
    height: 40px;
    border-radius: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    font-weight: 300;
    background-color: #262626;
    border: 1px solid #4C4C4C;
}

.pricing__card--gold{
    background: linear-gradient(180deg, #2A113E 0%, #111111 100%);
    position: relative;
    z-index: 1;
}

.pricing__card--gold::before {
  content: '';
  position: absolute;
  top: -1px;
  left: -1px;
  right: -1px;
  bottom: -1px;
  background: linear-gradient(180deg, #2A113E, #111111);
  z-index: -1;
  border-radius: 10px;
  filter: blur(8px);
}


.markets__table{
    border-radius: 12px;
    max-width: 1200px;
    margin: auto;
    margin-bottom: 96px;
}
.markets__header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 16px;
    color: white;
    font-weight: 400;
    background-color: #212121;
    height: 62px;
    padding: 24px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}

.markets__col-title{
    width: 180px;
}
.hr{
    height: 1px;
    width: 100%;
    background-color: #8C8C8C;
    opacity: 0.6;
}
.markets__row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 24px;
    background-color: #1B1B1B;

}
.markets__col-value{
    width: 180px;
    color: white;
    font-weight: 400;
}
.markets__asset{
    display: flex;
    align-items: center;
    gap: 8px;
}
.markets__col-value--positive{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    border: 1px solid #2DBD85;
    color: #2DBD85;
    border-radius: 8px;
    width: 120px;
}

.markets__col-value--negative{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    border: 1px solid #D33536;
    color: #D33536;
    border-radius: 8px;
    width: 120px;
}
.markets__col-title--change{
    width: 120px;
}
.markets__row-bg{
        display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 24px;
    background-color: #212121;
}
.markets__row--border{
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
}

.markets__mobile-table-bg{
    width: 327px;
    color: white;
    font-weight: 400;
    display: flex;
    flex-direction: column;
    gap: 24px;
    background: #212121;
    padding: 24px;
}

.markets__mobile-table{
    width: 327px;
    color: white;
    font-weight: 400;
    display: flex;
    flex-direction: column;
    gap: 24px;
    background: #1B1B1B;
    padding: 24px;
}
.markets__mobile-row{
    display: flex;
    flex-direction: row;
    gap: 24px;
    align-items: center;
}
.markets__mobile-label{
    width: 90px;
    color: #B7B7B7;
}
.markets__mobile-asset{
    display: flex;
    align-items: center;
    gap: 8px;
}
.markets__mobile-value--positive{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    border: 1px solid #2DBD85;
    color: #2DBD85;
    border-radius: 8px;
    width: 110px;
}

.markets__mobile-value--negative{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    border: 1px solid #D33536;
    color: #D33536;
    border-radius: 8px;
    width: 110px;
}
.markets__mobile{
    display: none;
}

.markets__title{
    font-size: clamp(52px, 5.5vw, 72px);
    color: white;
    margin: auto;
    text-align: center;
    margin-top: 96px;
    margin-bottom: 48px;
    line-height: 100%;
}

.input-form {
  display: flex;
  width: 590px;
  padding: 32px;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  gap: 32px;
  align-self: stretch;
  border-radius: 24px;
  background: #111111;
  margin: auto;
  border: 1px solid #353535;
}

.text-field {
  position: relative;
  margin-bottom: 1rem;
  transition: .2s ease-in-out;
}

.text-field__input {
  display: block;
  width: 494px;
  height: 42px;
  padding: 0.5rem 1rem;
  font-family: inherit;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  color: #fff;
  background-color: #212121;
  border-radius: 40px;
  border: none;
}

.text-field__select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image: url("data:image/svg+xml;utf8,<svg fill='gray' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/></svg>");
  background-repeat: no-repeat;
  background-position: right 0.75rem center;
  background-size: 1rem;
  padding-right: 2rem;
  color: #757575;
}

.text-field__input::placeholder {
  color: transparent;
}

.text-field__input:focus {
  border: 1px solid #A944F8;
  outline: 0;
  transition: .2s ease-in-out;
}

.text-field__label {
  position: absolute;
  top: 50%;
  left: 0.75rem;
  display: flex;
  transform: translateY(-50%);
  pointer-events: none;
  background-color: #212121;
  border-radius: 12px;
  color: #757575;
  padding: 0 0.5rem;
  transition: top 0.2s ease-in-out, transform 0.2s ease-in-out, color 0.2s ease-in-out;
}

.text-field__input:focus ~ .text-field__label,
.text-field__input:not(:placeholder-shown) ~ .text-field__label,
.text-field__select:valid ~ .text-field__label {
  top: 0;
  transform: translateY(-50%) scale(0.75);
  color: #A944F8;
}

.form__submit {
  width: 494px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 48px;
  background: #A944F8;
  color: #FFF;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 100%;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
  margin: auto;
  margin-top: 32px;
}

.form__submit:hover {
  background: #8a2be2;
}

.form__submit:disabled {
  background-color: #d6d6d6;
  cursor: not-allowed;
}

.form-heading {
  color: black;
  text-align: center;
  font-size: 28px;
  font-style: normal;
  font-weight: 600;
  line-height: 30px;
  width: 320px;
  margin: auto;
  margin-bottom: 32px;
}

.form-title{
    font-size: 72px;
    line-height: 105%;
    color: #FFFFFF;
    width: 494px;
}

.form-subtitle{
    font-size: 20px;
    line-height: 19px;
    color: #9D9D9D;
    margin-bottom: 32x;
    max-width: 494px;
    font-weight: 300;
}

.form{
    margin-top: 96px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.form__img{
    width: clamp(290px, 30vw, 530px);
    height: auto;
}

.fade-up {
    opacity: 0;
    transform: translateY(90px);
    transition: opacity 0.9s ease-out, transform 0.9s ease-out;
    will-change: opacity, transform;
}

.fade-up.show {
    opacity: 1;
    transform: translateY(0);
}

@media (max-width: 1200px){
    .pricing__cards{
        flex-direction: column;
        gap: 24px;
    }
}
@media (max-width: 980px){
    .markets__table{
        display: none;
    }
    .markets__mobile {
        display: block;
        margin: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .markets__mobile-radius{
        border-top-left-radius: 24px;
        border-top-right-radius: 24px;
    }
    .row-radius{
        border-bottom-left-radius: 24px;
        border-bottom-right-radius: 24px;
    }
    .form{
        flex-direction: column;
        gap: 24px;
    }
}

.burger-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    color: #fff;
    z-index: 3;
    text-align: center;
    background-color: #1B1B1B;
    transform: translateX(100%);
    transition: transform 0.3s ease-in-out;
    pointer-events: none;
}

.burger-menu.show {
    transform: translateX(0);
    pointer-events: auto;
}

.burger-menu ul {
    list-style: none;
    padding: 0;
    margin-top: 70px;
}

.burger-menu ul li {
    margin: 35px 0;
}

.burger-menu ul li a {
    color: black;
    font: 300 32px 'Montserrat';
}

.burger-icon {
    width: 69px;
    height: 40px;
    cursor: pointer;
    color: #fff;
    position: absolute;
    top: -5px;
    right: 10px;
    z-index: 3;
    border-radius: 20px;
    background: #1B1B1B;
    border: 1px solid #464646;
    display: none;
}

.burger-stick {
    width: 33px;
    height: 2px;
    margin: 2.5px auto 0;
    position: absolute;
    left: 0;
    right: 0;
    background-color: white;
    transition: 0.3s ease-in-out;
}

.burger-stick:nth-child(1) {
    top: 10px;
}

.burger-stick:nth-child(2) {
    top: 22px;
}

.burger-stick:nth-child(3) {
    top: 24px;
}

.burger-icon.active .burger-stick:nth-child(1) {
    transform: rotate(45deg);
    top: 16px;
}

.burger-icon.active .burger-stick:nth-child(2) {
    transform: rotate(-45deg);
    top: 16px;
}

.burger-icon.active .burger-stick:nth-child(3) {
    opacity: 0;
}

.no-scroll {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.footer__menu-link{
    text-transform: uppercase;
    text-decoration: none;
    color: white;
    font-weight: 400;
    font-size: 14px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
}

.footer__logo{
    font-weight: 400;
    font-size: 53px;
    color: #FFFFFF;
    text-decoration: none;
}
.footer__menu{
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-top: 32px;
}
.footer__container{
    display: flex;
    justify-content: space-between;
}
.footer__info{
    width: 435px;
}

.footer__disclaimer, .footer__company-number, .footer__address{
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;

}

.footer__info{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.footer__contact{
    margin-top: 48px;
    display: flex;
    flex-direction: column;
    gap: 20px;

    width: 435px;
    height: 22px;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;

    color: #FFFFFF;

}

.footer__contact-link{
    font-size: 16px;
    font-weight: 400;
    display: flex;
    align-items: center;
    gap: 10px;
    color: white;
    text-decoration: none;
}
.footer__container{
    margin-top: 96px;
}
.rights{
    margin: auto;
    margin-top: 148px;
    padding-bottom: 48px;
    text-align: center;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #FFFFFF;

}
.nav-cont{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@media (max-width: 700px){
    .container{
        max-width: 500px;
    }

    .herosection{
        flex-direction: column;
    }

    .herosection__img {
        width: 500px;
        height: auto;
    }
    .nav__list{
        display: none;
    }
    .cards__container{
        flex-direction: column;
        gap: 20px;
    }
    .approach__title{
        margin-top: 32px;
    }
    .growth__container, .strategies__container{
        flex-direction: column-reverse;
        gap: 32px;
    }
    .risk__container{
        flex-direction: column;
        gap: 32px;
    }
    .info__container{
        display: flex;
        flex-direction: column;
        gap: 32px;
    }
    .growth__subtitle, .risk__subtitle, .strategies__subtitle{
        text-align: center;
    }
    .growth__title, .risk__title, .strategies__title{
        text-align: center;
    }
    .input-form{
        width: 450px;
    }
    .text-field__input{
        width: 365px;
    }
    .form-title{
        width: unset;
        font-size: 44px;
    }
    .form__submit{
         width: 365px;
    }
    .form{
        margin-top: 64px;
    }
    .burger-icon{
        display: block;
    }
    .burger-menu ul {
  list-style: none;

  margin-top: 120px;
  text-align: left;
  text-decoration: none;
}
.burger-menu ul li a{
      color: white;
    font-family: "Inter Tight", sans-serif;
    font-size: 18px;
    font-weight: 400;
    font-style: normal;
    text-transform: uppercase;
    text-decoration: none;
}
.burger-hr{
    height: 1px;
    width: 100%;
    background-color: #fff;
    opacity: 0.2;
}
.burger-menu ul li{
    margin: 20px 0;
}
.nav__list{
    display: none;
}
.container{
    padding-left: 0;
    padding-right: 0;
}

    .footer__info{
    display: none;
}
.footer__contact{
    width: unset;
    margin-top: 16px;
}
.rights{
    margin-top: 32px;
}
.footer__container{
    margin-top: 64px;
}
.footer__logo{
    font-size: 40px;
}
.markets__title{
    margin-top: 64px;
}
}


@media (max-width: 500px){
    .container{
        max-width: 327px;
    }

    .herosection{
        flex-direction: column;
    }

    .herosection__img {
        width: 327px;
        height: auto;
    }
    .herosection__title{
        text-align: center;
    }
    .herosection__cta{
        margin: auto;
        width: 100%;
        margin-top: 32px;
    }
    .card{
        max-width: 327px;
    }
    .pricing__card{
        width: 327px;
        padding: 24px;
    }
    .pricing__badge{
        width: 130px;
        height: 30px;
        top: -16px;
    }

        .input-form{
        width: 327px;
    }
    .text-field__input{
        width: 265px;
    }
    .form-title{
        width: unset;
        font-size: 44px;
    }
    .form__submit{
         width: 265px;
    }
    .footer__info{
    display: none;
}
.footer__contact{
    width: unset;
    margin-top: 16px;
}
.rights{
    margin-top: 32px;
}
.footer__container{
    margin-top: 64px;
}
.footer__logo{
    font-size: 40px;
}
}
